/* IMPORTANT TO REMEMBER */
/* . for class, # for id */
/* . for class, # for id */
/* . for class, # for id */
/* . for class, # for id */
/* . for class, # for id */

body{

      background-color: rgb(18, 18, 19);  
      
}

header {
    text-align: center;
    
}

#headNavButtons {
    max-width: 768px;
   

}

#headerButtons {
    display: flex;
    max-width: 100%;

}

#containerLetterOutput {
  
    display: grid;
    grid-template-columns: (auto, clamp(32px, 5vw, 5vw));
    grid-auto-rows: clamp(32px, 5vh, 52px);
     /* height: clamp(320px, 32vh, 500px);  */
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    
}

.charInputBox {
    
    font-size: clamp(24px, 2vh, 40px);

    background-color: rgb(18, 18, 19); 
    border: 2px solid rgb(58, 58, 60);
    color: white;

    font-weight: 900;
    
    padding: 1px;
    margin: 1px;

    display: flex;
    align-items: center;
    justify-content: center;
 /*   box-sizing: border-box; */
}

#keyboardContainerTopRow, #keyboardContainerMiddleRow, #keyboardContainerBottomRow, #containerKeyboardInput {
  
    max-width: min(768px, 97vw); /* I'm so proud of this line of code ha ha */
   
/* 
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1px;
    row-gap: 1px; */
  
}

    /* width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr) 3fr;
    grid-template-rows: 1fr;
    column-gap: 1px;
    row-gap: 1px; */

.keyboardKeys {

    font-size: clamp(24px, 3vh, 36px);
    /* width: clamp(32px, 8vw, 60px); */
    

    color: white;
    margin: 1px;
    padding: 0px;
    font-weight: 900;
    /* transition-property: background-color; */
    
    
 /*
    display: flex;
    align-items: center;
    justify-content: center; */

}

/* .keyboardKeys:hover {
    background-color: rgb(8, 110, 110);
} */


.enterKey {
    
    display: flex;
    align-items: stretch;
    justify-content: center; 



    /* font-size: clamp(28px, 7vw, 48px);
    width: clamp(99px, 25vw, 180px);
    display: flex;
    align-items: center;
    justify-content: center; */
}

.deleteKey{
    /* font-size: clamp(28px, 6vw, 48px);
    display: flex;
    align-items: center;
    justify-content: center; */
}

#gameContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50vh 20vh auto;
    justify-items: center;
    justify-content: center;
   
}


.letterIncludes {
    background-color: #B59F3B;
}

.letterCorrect {
    background-color: #538D4E;
}

.notInWord {
    background-color: rgb(32, 32, 32);
    color: #818384;
}

#settingsDiv {
    display: grid;
    grid-template-columns: repeat(3, minmax(120px, 200px));
    justify-items: fill;
    justify-content: center;
}

.playerImage {
   width: 300px;
   filter: blur(5px);
}