#GuessContainer {
    grid-template-columns: auto repeat(5, 100px) auto;
    display: grid;
    justify-items: center;

    justify-content: center;
    
}

.charInputBox {
    width: 8%;
    background-color: rgb(225, 234, 234);
    padding: 8px 30px;
    margin: 1px 0;
 /*   box-sizing: border-box; */
}

