#containerLetterOutput {
  
    display: grid;
    grid-auto-rows: 45px;
   
    justify-self: center;
    align-self: center;
    
}

.charInputBox {
    width: 60%;
    height: 25px;
    background-color: rgb(225, 234, 234);
    border: 1px solid red;
    padding: 8px 5px;
    margin: 1px 0;
 /*   box-sizing: border-box; */
}



#keyboardContainerTopRow, #keyboardContainerMiddleRow, #keyboardContainerBottomRow {
    display: flex;
    height: 80px;
   

}

.keyboardKeys {
    height: 30px;
    width: 30px;
    padding: 15px;
    border: 2px grey solid;
    text-align: center;

    transition-property: background-color;
    transition-delay: 50ms;
  
}

.keyboardKeys:hover {
    background-color: rgb(8, 110, 110);
    
}

#gameContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 500px 250px;
    justify-items: center;
    justify-content: center;

    height: 800px;
}

/* test */

/* . for class, # for id */
